# وابستگی‌ها
node_modules/
.pnp
.pnp.*

# Next.js
.next/
out/
build/
dist/
next-env.d.ts

# متغیرهای محیطی
.env
.env.local
.env.*.local

# لاگ‌ها
*.log
npm-debug.log*
yarn-error.log*

# سیستم‌عامل
.DS_Store
Thumbs.db

# ادیتور
.vscode/
.idea/

# تست و پوشش
coverage/
.vercel
*.tsbuildinfo
